 @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  
 
 #by{
     font-family: "Inter", sans-serif;
 }

 #small{
    font-size: 11px;
    font-weight: 200;
    opacity: 0.5;
 }

 hr{
    opacity: 0.2;
 }

.wave{
     background: linear-gradient(180deg, #7c4dff, #ff4081, #ffeb3b);
     background-clip: text;
     color: transparent;
}

.btn{
    background: linear-gradient(200deg, #7c4dff, #ff4081, #ffeb3b); 
    font-size: 16px;
    padding: 2px 10px !important;
    border-radius: 20px;
} 

#menu-icon{
    display: none;
}

#wave{
    
    
    background-image: url(assets/hero-bg.png);
    width: 100% ;   
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

wave-phone{
    height: 700px ;
    
    background-image: url(assets/hero-bg.png);
    max-width: 100% ;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#circle{
    min-width: 26%;
    height: 60%;
    background-image: url();
    background-repeat: no-repeat;
    background-size: r;
    background-position: center;
}

#two{
    font-size: 12px;
}

#matha-gorom{
    height: 500px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#mic{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 130px;
    top: 150px;
    
}

.circle{
    width: 100%;
}

.new{
    background-color: #00ff88;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50px;
    position: absolute;
    top:60px;
    left: 240px;
    box-shadow: 0px 2px 5px #00ff88; 
}

.two-icons{
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-right: 3px;
}

.green{
    border: 1px solid #00ff88;
    border-radius: 20px;
    padding: 1px 10px;

}

#five-box{
   display: grid;
   gap: 20px;
   
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3 ,140px);
}

#box{
    
   border-radius: 30px;
   padding: 15px 25px;
   background-color: #39106f;
 }

 #middle{
    border-radius: 30px;
   padding: 45px 25px;
   background-color: #39106f;
 }

.headphone{
    
    grid-column: span 1;
    grid-row: span 2;
 }

.mobile, .global{
   grid-column: span 2;
 }

.exclusive{
    grid-column: span 2;
}

.rich{
    grid-column: span;
}

#embeded-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#embeded{
   background-color: #39106f;
   border-radius: 20px;
   
}

.video{
   border-top-left-radius: 20px;
   border-top-right-radius:20px ;
   width: 100%;
}

#alex{
   background-color: #39106f;
   border-radius: 20px;
   position: relative;
   height:200px ;
   width: 90% ;
   margin: 50px auto;
   display:flex;
    z-index: -10;
   align-items: center;
   overflow: hidden;
}

#alex::before{
    content: '';
    position: absolute;
    width:  100% ;
    height:  140%;
      background: linear-gradient(200deg, #7c4dff, #ff4081, #ffeb3b); 
    box-shadow: 0 0 20px  #39106f;
    animation: animate 6s linear infinite;
   z-index: -10 ;

}

#alex::after{
    content: '';
    position: absolute;
    inset: 10px;
    background-color: #39106f;
    border-radius: 20px;
   z-index: -10 ;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

#sesh{
    background-image: url(assets/footer-bg.png);
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#capa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }

 .last-one{
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-right: 1px;
}

#last-p{
    font-size: 13px;
    font-weight: 200;
    opacity: 0.5;
}


/*responsive design */


@media screen and (max-width:576px){
    .sub-button{
        display:none;
    }

    #menu-icon{
        display:block;
        padding-top: 10px;
    }

    #capa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }

    #five-box{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1 ,200px);
    }

   .headphone,
   .mobile,
   .global,
   .exclusive,
   .rich{
        grid-column: span 1;
        grid-row: span 1;
    }

    #embeded-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #alex{
        height:500px ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .last{
        align-items: center;
        justify-content: center;
    }

    .maf-chai{
        width:200px ;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        font-size: larger;
       
    }

    .for-margin{
        margin:5px;
    }

    #sesh{
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        text-align: center;
        margin-bottom: 0px ;
    }

    #wave{
        
    }
      
    

    #matha-gorom{
    height: 300px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #mic{
    width: 40%;
    height: 40%;
    position: absolute;
    left: 60px;
    top: 90px;
    }

    .new{
    background-color: #00ff88;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50px;
    position: absolute;
    top:70px;
    left: 150px;
    box-shadow: 0px 2px 5px #00ff88; 
    }

}


@import "tailwindcss"
